*.class
.idea
*.jar
*~
*.iml
awsCredentials.properties
target/
site-packages/
__pycache__/
4.ui-server/lib
4.ui-server/bin
4.ui-server/ui.server.egg-info
4.ui-server/include
4.ui-server/dist
/errors/
