#sigma_container {
    width: 100%;
    height: 550px;
    border: 1px solid #ccc;
    margin: 5px 10px 5px 0;
}

#barChart {
}

.modal-body .row {
    text-align: center;
}

.modal-body {
    font-size: 16pt;
}
