<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <form id="form" onsubmit="return false;">
      <input id="input" type="text" name="msg">
      <button onclick="sendMsg(); return false;">Send Message</button>
      <button onclick="getCC(); return false;">Get Graph</button>
      <button onclick="togglePause(); return false;">Toggle Pause</button>
    </form>
    <pre id="dummy">
      Nothing yet.
    </pre>
  </body>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  <script src="static/d3.cubehelix.js"></script>
  <script src="static/fdg.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="static/socketwork.js"></script>
</html>
