<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/style.css" />
    
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#" class="active">Network Pulse</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li><a href="#about" data-toggle="modal" data-target="#aboutModal">About</a></li>
	    <li><a href="https://github.com/drfloob/literate-garbanzo">Source</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-12 col-md-9">
	  <div id="sigma_container"></div>
	</div>
	<div class="col-xs-12 col-md-3">
	  <div class="row">
	    <div class="col-sm-12">
	      <input type="checkbox" name="pause-button" data-off-text="Pause" data-on-text="Resume" data-label-width="0" />
	      <button class="btn btn-default" onclick="resetZoom(); return false;">Reset Zoom and Center</button>
	    </div>
	    <div class="col-sm-12">
	      <p id="mobile-optimized-barchart">Mobile experience optimized: Pause the stream to view a bar chart of cluster distribution</p>
	      <div id="barChart"></div>
	    </div>
	  </div><!-- /.row - inner -->
	</div><!-- / right column -->
      </div><!-- /.row -->
    </div><!-- /.container -->


    <div id="clusterModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title">Cluster Group</h4>
	  </div>
	  <div class="modal-body">
	    <p>One fine body&hellip;</p>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title">About Network Pulse</h4>
	  </div>
	  <div class="modal-body">
	    <p><strong>Hi, I'm AJ.</strong></p>

	    <p>I created Network Pulse over 3
	      weeks as part of
	      the <a href="http://insightdataengineering.com/">Insight
		Data Engineering Fellowship</a>, Silicon Valley, Fall
	      2016.</p>

	    <p>Network Pulse is a distributed, fault-tolerant big data
	    pipeline that performs graph analysis over unbounded data
	    streams. Its purpose is to find clusters of people who have
	    interacted with each other -- directly or indirectly -- in
	    a short time frame, and display those results are they're
	      happening.</p>

	    <p>For more background on the
	    project, <a href="http://drfloob.com/pulse/slides">the
	    slides</a> are available online, and the project
	    is <a href="https://github.com/drfloob/literate-garbanzo">Open
		Source</a>.</p>

	    <div class="row">
	      <div class="col-xs-3 col-xs-offset-2">
		<a href="https://drfloob.com"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
	      </div>
	      <div class="col-xs-2">
		<a href="https://linkedin.com/in/ajheller"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
	      </div>
	      <div class="col-xs-3">
		<a href="https://github.com/drfloob"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
	      </div>
	    </div>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
  </body>
  
  <!-- bootstrap -->
  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="static/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

  <!-- utils -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="static/bower_components/color-hash/dist/color-hash.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.1.0/sigma.min.js"></script>
  <script src="static/sigma.plugins.neighborhoods.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/bower_components/isMobile/isMobile.min.js"></script>
  
  <!-- pulse -->
  <script src="static/setup.js"></script>
  <script src="static/plot.js"></script>
  <script src="static/pulseGraph.js"></script>
  <script src="static/socketwork.js"></script>

</html>
